/*//////////////////////////////////////////////////||
// ROB KANDEL 										||
// kandelrob@gmail.com								||
// 													||
// created 01.21.15	| updated 05.14.15				||
// dataviz_generator.css							||
// version 0.2.0									||
////////////////////////////////////////////////////*/

body {
    position: relative;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #363636;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none;
}

a, a:visited, a:active {
    color: #428bca;
    text-decoration: none;
}

a:hover {
    color: #006697;
    text-decoration: underline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
    margin: 0px;
    padding: 0px;
}

.bodyAbsolute {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clearAll {
    clear: both;
    float: none;
    width: 100%;
}

.buttonItem {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border-radius: 4px;
}

.buttonItem:hover {
    background-color: #286090;
    border: 1px solid #204d74;
}

.transitionBackground {
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
    -ms-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}

.transitionAll {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.transitionHeight {
    -webkit-transition: height 300ms ease-in-out;
    -moz-transition: height 300ms ease-in-out;
    -o-transition: height 300ms ease-in-out;
    -ms-transition: height 300ms ease-in-out;
    transition: height 300ms ease-in-out;
}

header {
    width: 100%;
    background-color: #363636;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    height: 3.14285714285714em;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0px;
}

.headerInnerWrapper {
    position: relative;
    line-height: 3.14285714285714em;
    margin: 0px 0.71428571428571em;
}

.headerLogo {
    position: relative;
    float: left;
}

.headerTitle {
    color: #fff;
    float: left;
    font-size: 1.14285714285714em;
    position: relative;
    border-right: 1px solid #888;
    padding-right: 0.625em;
}

.socialWrapper, .optionWrapper {
    position: relative;
    float: right;
}

.menuButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 3.14285714285714em;
    height: 3.14285714285714em;
    padding-right: 0.71428571428571em;
    cursor: pointer;
    margin-left: -0.71428571428571em;
    padding-left: 0.71428571428571em;
}

.navIcon {
    position: relative;
    width: 1.64285714285714em;
    top: 0.85714285714286em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
}

.navIcon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.navIcon span:nth-child(1) {
    top: 2px;
}

.navIcon span:nth-child(2), .navIcon span:nth-child(3) {
    top: 8px;
}

.navIcon span:nth-child(4) {
    top: 14px;
}

.navIconActive span:nth-child(1) {
    top: 20px;
    width: 0%;
    left: 50%;
}

.navIconActive span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navIconActive span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navIconActive span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.socialButton {
    position: relative;
    float: left;
    list-style: none;
    margin-left: 1.42857142857143em;
    line-height: 3.85714285714286em;
}

.socialButton .fa-2 {
    font-size: 1.6em;
}

.navListWrapper {
    display: none;
    background-color: #363636;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 3.95em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.navListWrapper:after, .navListWrapper:before {
    bottom: 100%;
    right: 1.2em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.navListWrapper:after {
    border-color: rgba(0,0,0,0);
    border-bottom-color: #363636;
    border-width: 6px;
    margin-left: -6px;
}

.navListWrapper:before {
    border-color: rgba(0,0,0,0);
    border-bottom-color: #363636;
    border-width: 7px;
    margin-left: -7px;
}

.navListWrapperActive {
    display: block;
}

.stateButton {
    background-color: #363636;
    border: 1px solid #363636;
    display: block;
    margin: 4px 0;
}

.stateButton:hover {
    background-color: #428bca;
    border: 1px solid #363636;
}

.stateButtonActive, .stateButtonActive:hover {
    background-color: #fff;
    color: #428bca;
}

footer {
    position: relative;
    margin-top: 4.28571428571429em;
    background-color: #363636;
}

.footerInner {
    position: relative;
    font-size: 1em;
    color: #bbb;
    border-top: 1px solid #666;
    text-align: center;
    padding: 0.43333333333333em 0;
}

section {
    position: relative;
    margin: 4.28571428571429em 0px 3.57142857142857em;
}

.containerSectionLanding, .containerSectionCreateNew {
    margin-top: 3.14285714285714em;
    display: none;
}

.container {
    position: relative;
}

.containerFull {
    width: 100%;
}

.containerBackgroundInset {
    background-color: #ddd;
    -moz-box-shadow: inset 0 0 7px #aaa;
    -webkit-box-shadow: inset 0 0 8px #aaa;
    box-shadow: inset 0 0 8px #aaa;
    border-bottom: 1px solid #aaa;
}

.containerInnerWrapper {
    position: relative;
    margin: 0 0.71428571428571em 0px;
}

.pageTitle {
    margin: 0.37037037037037em auto 0;
    text-align: center;
    font-size: 3.85714285714286em;
    font-weight: 700;
    color: #363636;
}

.pageTitle span {
    color: #337ab7;
    font-size: 0.45em;
    font-style: italic;
    font-weight: 700;
    left: -0.1em;
    position: relative;
}

.pageSubhead {
    display: block;
    text-align: center;
    max-width: 36em;
    font-size: 1.42857142857143em;
    color: #777;
    font-weight: 700;
    margin: 0em .5em 3.214165em;
}

.containerDescription {
    position: relative;
    max-width: 57.14285714285714em;
    margin: auto;
}

.listExplainer {
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    position: relative;
    font-size: 1.28571428571429em;
    line-height: 1.4em;
    color: #363636;
}

.listItemSymb {
    font-size: 1.85714285714286em;
    position: relative;
    top: 0.21285714285714em;
    margin-right: 0.18367346938776em;
    color: #aaa;
}

.homeButtonData, .homeButtonData:hover, .csvCreate, .csvCreate:hover, .updateCreate, .updateCreate:hover {
    width: 15em;
    display: block;
    border: 1px solid transparent;
    font-size: 1.28571428571429em;
    margin: auto;
}

.homeButtonData:first-child {
    margin: 3.95714285714286em auto 1.42857142857143em;
}

.containerSectionContent {
    display: block;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0px;
    overflow-y: hidden;
}

.containerEditorWrapper, .containerWikiWrapper {
    position: absolute;
    width: 5em;
    margin: 3.14285714285714em 0px 2.14285714285714em;
    height: calc(100% - 3.14285714285715em);
    top: 0px;
    left: 0px;
    background-color: #474747;
    border-right: 1px solid #222;
    -moz-box-shadow: inset 0 0 7px #222;
    -webkit-box-shadow: inset 0 0 8px #222;
    box-shadow: inset 0 0 8px #222;
    z-index: 10;
}

.containerWikiWrapper {
    width: 28.57142857142857em;
}

.containerWikiButtons {
    margin: 1.42857142857143em 0;
    height: calc(100% - 2.85714285714286em);
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

.containerHomeWrapper {
    overflow-y: auto;
    position: relative;
    margin: 3.14285714285714em 0px 2.14285714285714em;
    height: calc(100% - 3.14285714285715em);
}

.containerInner {
    position: relative;
    margin: 0.71428571428571em;
}

.containerDescriptionWrapper {
    position: relative;
    max-width: 85.71428571428571em;
    margin: 4.28571428571429em auto 0;
}

.containerDescriptionWrapper .containerTitle {
    margin-bottom: 0.714286em;
}

.containerDescriptionWrapperCenter {
    text-align: center;
    max-width: 42.85714285714286em;
}

.containerDataWrapper .containerDescriptionWrapper {
    margin: 5.28571428571429em auto 0;
}

.containerToolWrapper, .containerWikiTextWrapper {
    left: 5em;
    overflow-y: auto;
    position: relative;
    width: calc(100% - 5em);
    margin: 3.14285714285714em 0px 2.14285714285714em;
    height: calc(100% - 3.14285714285715em);
    z-index: 9;
}

.containerWikiTextWrapper {
    left: 28.57142857142857em;
    width: calc(100% - 28.57142857142857em);
}

.containerTitleWrapper {
    position: relative;
    padding: 2.85714285714286em 0 5.71428571428571em;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    -moz-box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.1) inset;
}

.containerTitleWrapperHome {
    background-color: #5da6e5;
    height: calc(100%);
}

.containerTitle {
    position: relative;
    font-size: 1.71428571428571em;
    color: #363636;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.containerDescriptionText {
    position: relative;
    font-size: 1.28571428571429em;
    line-height: 1.4em;
    margin-top: 0.71428571428571em;
}

.containerSetupSteps {
    position: relative;
}

.containerSetupStep {
    position: relative;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.stepNumber {
    position: relative;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    font-size: .7em;
}

.stepText {
    position: relative;
    font-size: 1.28571428571429em;
}

.stepImage {
    display: block;
    padding-top: .5em;
}

.stepImage img {
    position: relative;
    height: 16.66666666666661em;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.containerDataConverter {
    position: relative;
    margin: 1.42857142857143em 0 5.71428571428572em;
}

.containerTitleDataSource {
    border-bottom: none;
    color: #444;
    margin: 0.71428571428571em 0 1.42857142857143em;
    text-transform: none;
    font-weight: normal;
}

.containerCreateToolWrapper {
    margin: 1.42857142857143em 0;
}

.containerTitleCreate {
    border-bottom: none;
    color: #777;
    font-style: italic;
    text-transform: none;
    font-weight: normal;
    margin: 0 0 0.71428571428572em;
}

.inputFieldDataSource {
    position: relative;
}

.googleHelp {
    position: relative;
    text-align: right;
    margin-top: 10px;
    font-style: italic;
    float: right;
}

.googleHelpSmall {
    display: none;
}

[data-role="google_spreadsheet_url"] {
    color: #777 !important;
}

[data-role="google_spreadsheet_url"]:focus {
    color: #444 !important;
}

.inputFieldCreate {
    margin: 0 !important;
    height: 2.64285714285714em;
}

.inputFieldIcon {
    padding: 6px 1.5%;
    position: relative;
    top: 0.28571428571429em;
}

.dragDropData {
    position: relative;
    width: 100%;
    height: 18.57142857142857em;
    border: 2px dashed #ccc;
    border-radius: 4px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
}

.dragDropDataOver {
    border: 2px dashed #337ab7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset;
}

.dragDropDataText {
    position: absolute;
    top: 0.428571em;
    left: 0.857143em;
    height: calc(100% - 0.857142em);
    width: calc(100% - 1.714284em);
    overflow-x: hidden;
    overflow-y: auto;
}

.inputFieldDataSourceButton {
    text-align: center;
}

.inputFieldButton {
    border: 1px solid transparent;
    display: block;
    margin: auto;
    width: 20em;
}

.googleCreate, .googleCreate:hover {
    border-radius: 0 4px 4px 0;
    padding: 0px 1.42857142857143em;
    height: 2.07142857142857em;
    line-height: 2.07142857142857em;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #fff;
    border: none;
    border-left: 1px solid #ccc;
    color: #aaa;
    cursor: default;
}

.csvCreate, .csvCreate:hover, .updateCreate, .updateCreate:hover {
    font-size: 1em;
    margin-top: 1.95714285714286em;
    background-color: #fff;
    border-color: #ddd;
    color: #aaa;
    cursor: default;
}

.googleCreateActive, .googleCreateActive:hover, .csvCreateActive, .csvCreateActive:hover, .updateCreate, .updateCreate:hover {
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
}

.csvCreateActive, .csvCreateActive:hover, .updateCreate, .updateCreate:hover {
    border-color: #2e6da4;
}

.googleCreateActive:hover, .updateCreate:hover, .csvCreateActive:hover, .updateCreate:hover {
    background-color: #006697;
}

.containerTheTool {
    margin: 1.42857142857143em 0;
}

.containerEditorButtons {
    margin: 1.42857142857143em 0 0;
    height: calc(100% - 1.42857142857143em);
    position: absolute;
}

.editorButton, .editorButton:hover, .wikiButton, .wikiButton:hover {
    padding: 0px;
    margin: 0px;
    width: 5em;
    height: 5em;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #666;
}

.editorButton:first-child, .wikiButton:first-child {
    border-top: 1px solid #666;
}

.wikiButton, .wikiButton:hover {
    width: 26em;
    height: auto;
    text-align: left;
    margin: 0 0.71428571428571em;
    padding: 0 0.71428571428571em;
}

.wikiButton:hover {
    background-color: #428bca;
}

.wikiButtonActive, .wikiButtonActive:hover {
    background-color: #565656;
}

.wikiButton span {
    height: 2.425em;
    line-height: 2.425em;
    font-size: 1.24285714285714em;
}

.wikiIcon {
    position: relative;
    margin-right: 0.35714285714286em;
    font-size: 1.5em;
}

.wikiIcon .fa-minus-circle, .wikiButtonActive .fa-plus-circle {
    display: none;
}

.wikiButtonActive .fa-minus-circle {
    display: inline-block;
}

.wikiLinkList {
    position: relative;
    max-height: 0;
    overflow: hidden;
}

.wikiButtonActive .wikiLinkList {
    max-height: 2000px;
}

.wikiListItem {
    position: relative;
    font-size: 1.1em;
    padding: 0;
    background-color: transparent;
    margin: 0.14285714285714em 1.42857142857143em;
    border-radius: 8px;
}

.wikiListItem:hover {
    background-color: #428bca;
}

.wikiListItemActive, .wikiListItemActive:hover {
    background-color: #eee;
}

.wikiListItem a, .wikiListItem a:hover, .wikiListItem a:active, .wikiListItem a:visited {
    text-decoration: none;
    color: #eee;
    display: block;
    padding: 0.57142857142857em;
}

.wikiListItemActive a, .wikiListItemActive a:hover, .wikiListItemActive a:active, .wikiListItemActive a:visited {
    color: #428bca;
}

.editorButtonSymbol {
    position: relative;
    padding: 0.42857142857143em 0.57142857142857em 0;
    font-size: 1.75em;
    color: #eee;
    top: .25em;
}

.editorButtonText {
    position: relative;
    display: block;
    top: .125em;
    color: #eee;
}

.editorButton:hover {
    background-color: #428bca;
}

.editorButtonHelp, .editorButtonHelp:hover {
    border-bottom: none;
    border-top: 1px solid #666;
    bottom: 0;
    left: 0;
    position: absolute;
}

.editorButtonActive, .editorButtonActive:hover {
    background-color: #eee;
}

.editorButtonActive .editorButtonSymbol, .editorButtonActive .editorButtonText {
    color: #428bca;
}

.tableBuilderHeaderWrapperFixed {
    top: 2.42857142857143em;
    z-index: 99 !important;
}

.tableBuilderWrapper .ui-icon {
    text-indent: 0;
    background: none;
}

.containerOptionsHolder, .containerSaveModal, .containerPreloaderModal, .containerUpdateModal {
    position: fixed;
    z-index: 999;
    top: 4.57142857142857em;
    left: 5em;
}

.containerSaveModal, .containerPreloaderModal, .containerUpdateModal {
    width: calc(100% - 5em);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.containerUpdateModal {
    top: 3.14286em;
    left: 0;
    width: 100%;
}

.containerUpdateModal .modalWrapper {
    top: 3em;
}

.toolOptionsUnitWrapper {
    position: absolute;
    top: 0px;
    left: 0.28571428571429em;
    width: 23.21428571428571em;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0px 8px 8px 8px;
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
}

.toolOptionsUnitWrapper:before {
    position: absolute;
    content: '';
    top: -1px;
    width: 0.42857142857143em;
    left: -0.42857142857143em;
    height: 4.85714285714286em;
    background-color: #eee;
    z-index: 1;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.toolOptionsUnitInnerWrapper {
    padding: 0.71428571428572em;
}

.toolOptionUnitTitle {
    position: relative;
    text-align: center;
    padding-bottom: 0.28571428571429em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.71428571428572em;
}

.toolOptionUnitTitleText {
    font-size: 1.42857142857143em;
    font-weight: 700;
    color: #474747;
    letter-spacing: 1px;
}

.toolOptionUnitTitleClose, .toolOptionUnitTitleClose:hover {
    position: absolute;
    right: -0.85714285714286em;
    top: -0.47142857142857em;
    background-color: transparent;
    border: 1px solid transparent;
    color: #aaa;
    font-size: 1.3em;
}

.toolOptionUnitTitleClose:hover {
    color: #474747;
}

.toolOptionOptions {
    position: relative;
}

.toolOptionChange {
    position: relative;
    padding: 0.35714285714286em;
    border-top: 1px solid #ccc;
}

.toolOptionOptions .toolOptionChange:first-child {
    border-top: none;
}

.toolOptionChangeTitleInnerWrapperLeft {
    position: relative;
    float: left;
    width: 40%;
}

.toolOptionChangeTitleInnerWrapperLeftWide {
    width: 60%;
}

.toolOptionInput {
    position: relative;
    float: right;
    width: 60%;
}

.toolOptionInputNarrow {
    width: 40%;
}

.toolOptionInputBlock {
    float: none;
    width: 100%;
}

.inputField {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 0.92857142857143em;
    height: 2.42857142857143em;
    line-height: 1.42857;
    margin: 0;
    padding: 0.42857142857143em 0.85714285714286em;
    position: relative;
    vertical-align: middle;
    width: calc(100%);
    font-family: 'Roboto Condensed', sans-serif;
    color: #363636;
}

.inputFieldTextField {
    height: auto;
    line-height: normal;
    margin-top: 0.28571428571429em;
}

.inputField:focus, .inputFieldTextField:focus {
    border: 1px solid #66afe9;
    -webskit-box-shadow: 0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(102,175,233,.6);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(102,175,233,.6);
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(102,175,233,.6);
}

.toolOptionOptionTitle {
    position: relative;
    text-transform: capitalize;
}

.toolOptionOptionTitleTop {
    line-height: 2.21428571428571em;
}

.toolOptionChangeOdd {
    background-color: #ddd;
}

.toolOptionRadio {
    text-align: right;
}

.toolOptionsSelectMultiple {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 0.92857142857143em;
    margin: 0;
    padding: 0.42857142857143em 0.85714285714286em;
    position: relative;
    width: calc(100%);
    font-family: 'Roboto Condensed', sans-serif;
    color: #363636;
    margin-top: 0.28571428571429em;
}

.toolOptionsSelect {
    position: relative;
    width: calc(100%);
    font-size: 0.92857142857143em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #363636;
}

.toolStyleWidthSliderWrapper {
    position: relative;
    margin: 0.71428571428571em 0 1.42857142857142em;
}

.slideWidthLabel {
    position: absolute;
}

.slideWidthLabelFirst {
    left: 0px;
}

.slideWidthLabelSecond {
    right: 0px;
}

.slideWidthLabel {
    color: #777;
    font-size: 0.92857142857143em;
}

.slideWidthLabelFirst span {
    font-style: italic;
}

.toolSliderHolder {
    position: relative;
    height: 0.53571428571429em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.4em;
}

.ui-menu .ui-menu-item {
    font-size: 12px;
}

.ui-widget-content {
    max-height: 200px;
    overflow-y: auto;
}

.ui-slider-horizontal {
    overflow-y: visible;
}

.toolOptionChangeExtra {
    display: none;
}

.toolOptionsUnitHidden {
    max-height: 0px;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid transparent;
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.0);
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.0);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.0);
}

.toolOptionChangeExtra {
    border-top: none;
}

.toolOptionOptionTitleSelect {
    line-height: 1.28571428571429em;
}

.toolOptionsSelectLeft {
    width: 45%;
    float: left;
}

.toolOptionsSelectRight {
    width: 45%;
    float: right;
}

.toolStyleChoice {
    position: relative;
    float: right;
    width: 40%;
}

.toolStyleChoiceColorInput {
    position: relative;
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
}

.toolStyleChoiceColor {
    border: 1px solid #aaa;
    cursor: pointer;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.toolStyleChoiceColor_FFFFFF, .toolStyleChoiceColor_FFFFFF:hover {
    background-color: #ffffff;
}

.toolStyleChoiceColor_444444, .toolStyleChoiceColor_444444:hover {
    background-color: #444444;
}

.toolStyleChoiceColor_dddddd, .toolStyleChoiceColor_dddddd:hover {
    background-color: #dddddd;
}

.toolStyleChoiceColor_333333, .toolStyleChoiceColor_333333:hover {
    background-color: #333333;
}

.toolStyleChoiceColor_337ab7, .toolStyleChoiceColor_337ab7:hover {
    background-color: #337ab7;
}

.toolStyleChoiceColor_286090, .toolStyleChoiceColor_286090:hover {
    background-color: #286090;
}

.toolStyleChoiceColor_f8f8f8, .toolStyleChoiceColor_f8f8f8:hover {
    background-color: #f8f8f8;
}

.toolStyleChoiceColor_CCCCCC, .toolStyleChoiceColor_CCCCCC:hover {
    background-color: #CCCCCC;
}

.toolStyleChoiceColor_f9f9f9, .toolStyleChoiceColor_f9f9f9:hover {
    background-color: #f9f9f9;
}

.toolStyleChoiceColor_bbbbbb, .toolStyleChoiceColor_bbbbbb:hover {
    background-color: #bbbbbb;
}

.toolStyleChoiceColor_777777, .toolStyleChoiceColor_777777:hover {
    background-color: #777777;
}

.toolOptionChangeThick {
    border-top: 3px solid #aaa;
}

.modalWrapper {
    position: relative;
    max-width: 42.85714285714286em;
    height: 21.42857142857143em;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    background-color: #fff;
}

.modalTabWrapper {
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.71428571428571em;
}

.modalTab, .modalTab:hover {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
    position: relative;
    color: #337ab7;
}

.modalTab:hover {
    background-color: #fff;
}

.modalTabActive, .modalTabActive:hover {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    top: 1px;
}

.containerPreloaderModal .tableBuilderPreloaderWrapper {
    position: relative;
    margin: 1.4em 0;
}

.containerPreloaderModal .tableBuilderPreloaderWrapper .tableBuilderPreloaderSpinnerText {
    position: relative;
    margin-bottom: 0.71428571428571em;
}

.containerDownloadProgress {
    margin: auto;
    position: relative;
    width: 21.42857142857143em;
}

.containerDownloadProgress .listItem {
    font-size: 1em;
}

.inputFieldSave {
    height: 16.42857142857143em;
}

.containerFAQ {
    padding: 0.71428571428571em;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.71428571428571em 0;
    background-color: #fff;
}

.containerFAQActive {
    background-color: #f5f5f5;
}

.faqTitleSymb {
    color: #428bca;
    font-size: 2em;
    margin-right: 0.351429em;
    position: relative;
    top: 0.15em;
}

.faqTitleText {
    font-size: 1.14285714285714em;
}

.containerFAQAnswer {
    max-height: 0px;
    overflow: hidden;
    margin: 0 1.42857142857143em;
    padding-top: 0;
    border-top: 1px solid transparent;
}

.containerFAQActive .containerFAQAnswer {
    max-height: 1000px;
    border-top: 1px solid #ccc;
    padding-top: 1em;
}

.containerFAQAnswer .containerInner {
    font-size: 1.14285714285714em;
}

.containerFAQAnswer .containerInner i {
    color: #777;
    font-size: .85em;
}

.containerTitleDataSourceWiki {
    margin: 1.14285714285714em 0;
}

.hiddenContainer {
    display: none;
}

[data-role="data_wrapper"] {
    top: 100%;
}

[data-role="code_wrapper"] {
    top: 200%;
}

[data-role="help_wrapper"] {
    top: 300%;
}

[data-role="tool_options_unit_wrapper_structure"], [data-role="tool_options_unit_wrapper_style_structure"] {
    top: 5em;
}

[data-role="tool_options_unit_wrapper_header"], [data-role="tool_options_unit_wrapper_style_header"] {
    top: 10em;
}

[data-role="tool_options_unit_wrapper_interactive"], [data-role="tool_options_unit_wrapper_style_buttons"] {
    top: 15em;
}

[data-role="tool_options_unit_wrapper_format"], [data-role="tool_options_unit_wrapper_style_rows"] {
    top: 20em;
}

[data-role="tool_options_unit_wrapper_save"], [data-role="tool_options_unit_wrapper_style_save"] {
    top: 25em;
}

.colorpicker {
    z-index: 999;
}

.wikiFooter {
    position: fixed;
    bottom: 0;
    left: 28.5714em;
    width: calc(100% - 28.5714em);
    height: 2.14285714285714em;
    margin: 0;
}

.wikiPanel {
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 1.42857142857143em;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px;
}

.panelTitle {
    padding: 0.625em 0.9375em;
    border-bottom: 1px solid rgb(221, 221, 221);
    ;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #ddd;
    background-color: #eee;
    font-size: 1.14285714285714em;
}

.panelTitle span {
    position: absolute;
    right: 0.9375em;
    color: #ddd;
    font-style: italic;
}

.panelBody {
    padding: 1.07142857142857em;
    color: #ddd;
}

.panelBody a, .panelBody a:hover, .panelBody a:visited, .panelBody a:active {
    color: #ddd;
}

.panelBodyOptions {
    position: relative;
    background-color: #eee;
    border-radius: 4px;
    padding: 1.42857142857143em;
    margin-top: 1.42857142857143em;
}

.panelBodyOptions table {
    width: 100%;
    border-collapse: collapse;
}

.panelBodyOptions table th, .panelBodyOptions table td {
    width: 50%;
    text-align: left;
}

.panelBodyOptions table th {
    border-bottom: 2px solid #ccc;
}

.panelBodyOptions table .tableBorder {
    background-color: #ddd;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.panelBodyOptions table td {
    padding: 0.35714285714286em;
}

.panelTitle span {
    position: absolute;
    right: 0.9375em;
    color: #ddd;
    font-style: italic;
}

.panelBody span {
    position: absolute;
    right: 1.07142857142857em;
    color: #ddd;
    background-color: #fff;
    font-style: italic;
    padding: 0.35714285714286em 0.71428571428571em;
    border-radius: 4px;
    margin-top: -0.35714285714286em;
}

.wikiPanelActive {
    border: 1px solid #006697;
}

.wikiPanelActive .panelTitle {
    color: #fff;
    background-color: #428bca;
}

.wikiPanelActive .panelBody {
    color: #444;
}

.wikiPanelActive .panelBody a, .wikiPanelActive .panelBody a:active, .wikiPanelActive .panelBody a:visited {
    color: #428bca;
}

.wikiPanelActive .panelBody a:hover {
    color: #006697;
}

.wikiPanelActive .panelBody span {
    background-color: #f5f5f5;
    color: #777;
}

.createToolTabWrapper {
    border-bottom: 1px solid #ccc;
}

.toolTab, .toolTab:hover {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
    position: relative;
    color: #337ab7;
    padding: 6px 4px;
}

.toolTab:hover {
    background-color: #fff;
}

.toolTabActive, .toolTabActive:hover {
    background-color: #fff;
    border-bottom: 0 solid transparent;
    margin-top: -1px;
    padding-top: 7px;
    top: 1px;
}

.containerInputDataWrapper .containerTitleWrapper {
    padding: 2.85714285714286em 0 2.85714285714286em;
}

[data-role="create_tool_google"] {
    padding-top: 0.71428571428572em;
}

.containerTitleData {
    color: #777;
    font-size: 1.2em;
    margin-bottom: 3em;
    font-style: italic;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.dragDropInfo {
    position: relative;
    text-align: center;
    padding: 1.42857142857143em;
    margin-top: -0.72857em;
    opacity: 1;
}

.dragDropDataOver .dragDropInfo {
    opacity: .4;
}

.dragDropIcon {
    color: #777;
    font-size: 4em;
}

.dragDropText {
    font-size: 1.5em;
    font-weight: 700;
    color: #777;
    margin: 0.351428571428572em 0;
}

.dragDropInstructions {
    font-size: 1.1em;
    color: #777;
    margin-bottom: 1em;
}

.dragDropHelp {
    color: #777;
    font-style: italic;
}

.importFile, .importFile:hover, .changeCSV, .changeCSV:hover {
    padding: 0;
    border: none;
    background-color: #fff;
    color: #428bca;
    vertical-align: unset;
}

.switchCSV {
    position: relative;
    text-align: right;
    margin-top: 4px;
    font-style: italic;
}

.changeCSV, .changeCSV:hover {
    background-color: #ddd;
}

.importFile:hover, .changeCSV:hover {
    text-decoration: underline;
}

.highlight {
    background-color: #ddd;
    color: #565656;
    padding: 2px 6px;
    border-radius: 4px;
}

.containerModalTitle {
    color: #777;
    margin-bottom: 1em;
    text-align: center;
}

.containerModalTitle span {
    text-transform: none;
}

.containerModalSubhead {
    font-size: 1.2em;
    text-align: center;
}

.containerModalOptions {
    position: relative;
    font-size: 1.1em;
    margin-top: 1.5em;
    font-weight: 700;
}

.modalRadioOption {
    position: relative;
    padding: 0.3em 0;
    margin: 0 3.5em 0 1.7em;
}

.modalRadioOption:first-child {
    border-bottom: 1px solid #ccc;
}

.modalRadioOption input {
    margin-right: 0.71428571428572em;
}

.updateCreate, .updateCreate:hover {
    margin-top: 3.95714em;
}

.containerSetupWrapper {
    position: relative;
    text-align: center;
}

.optionSelector {
    position: relative;
    margin-bottom: 0.71428571428571em;
}

.dropDownOption {
    position: relative;
    border: none;
    background-color: transparent;
    color: #444;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

.dropDownOption:hover {
    border: none;
    background-color: transparent;
}

.dropDownText {
    font-weight: 700;
    padding: 0.35714285714286em 0;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    color: #444;
}

.dropDownText:hover {
    color: #006697;
}

.dropDownText::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed #304269;
    content: "";
    margin-left: 5px;
    position: absolute;
    top: 42%;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-font-smoothing: antialiased;
}

.dropDownOption:hover .dropDownText::after {
    border-top: 5px dashed #006697;
}

.dropDownMenu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 100%;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 98%;
    z-index: 5;
}

.dropDownMenuActive {
    display: block;
}

.dropDownItem {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #444;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    border-left: 5px solid transparent;
}

.dropDownItem:hover {
    background-color: #eee;
}

.dropDownItemActive {
    border-left: 5px solid #ccc;
    background-color: #f5f5f5;
    font-weight: 700;
}

.dropDownItemNotActive, .dropDownItemNotActive:hover {
    color: #ccc;
    font-style: italic;
}

.containerTestWrapper .containerTitle {
    border: none;
}

#tbTest {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2em 1em;
}

.containerSplitRight {
    margin-top: 1.42857142857143em;
}

.homeButtonSplit {
    width: 10em;
}

.pageTitleSmaller {
    max-width: 19.35484495317579em;
}

.pageTitleSmallest {
    text-align: left;
    font-size: 3em;
    max-width: 28.57142857142857em;
    color: #777;
}

.pageSubheadSmaller {
    max-width: 47.14285714285714em;
    margin-top: 1em;
    margin-bottom: 2.214165em;
}

@media screen and (min-width:620px) {
    .pageTitle {
        margin: 0.22222227160495em auto 0;
        max-width: 57.14285714285714em;
        font-size: 6.42857142857143em;
    }

    .pageTitleSmaller {
        font-size: 4.42857em;
        max-width: 19.35484495317579em;
    }

    .pageTitleSmallest {
        text-align: left;
        font-size: 3em;
        max-width: 28.57142857142857em;
        color: #777;
    }

    .pageSubhead {
        max-width: 24em;
        font-size: 2.14285714285714em;
        margin: 0em 0.33333333333333em 2.14285714285715em;
    }

    .pageSubheadSmaller {
        max-width: 47.14285714285714em;
        font-size: 1.5em;
    }

    .homeButtonSplit {
        width: 14.28571428571429em;
    }

    .toolTab, .toolTab:hover {
        padding: 6px 12px;
    }

    .toolTabActive, .toolTabActive:hover {
        padding-top: 7px;
    }

    .googleCreate, .googleCreate:hover {
        height: 2.14285714285714em;
        line-height: 2.14285714285714em;
    }

    .dragDropInfo {
        margin-top: .72857em;
    }

    .dragDropText {
        font-size: 2em;
    }

    .containerTheTool.containerTheTool {
        margin: 1.42857142857143em 0.71428571428572em;
    }

    .containerFAQ {
        padding: 0.71428571428571em 1.42857142857143em;
    }

    .faqTitleText {
        font-size: 1.42857142857143em;
    }

    .containerFAQAnswer {
        margin: 0 2.85714285714286em;
    }
}

@media screen and (min-width:769px) {
    .navListWrapper, .navListWrapperActive {
        display: block;
        background-color: transparent;
        border-radius: 0px;
        padding: 0px;
        position: relative;
        right: auto;
        top: auto;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0);
    }

    .navListWrapper:after, .navListWrapper:before {
        border-bottom-color: transparent;
    }

    .menuButton, .stateButton.hiddenContainer {
        display: none;
    }

    .pageSubhead {
        margin: 0em auto 2.14285714285715em;
    }

    .stateButton {
        display: inline-block;
        margin: 0;
    }

    .containerSplit50 {
        width: 48%;
        margin: 0px 0 0 2%;
    }

    .containerSplit33 {
        width: 30%;
    }

    .containerSplit33Middle {
        margin: 0 5%;
    }

    .containerSplit50Left {
        margin: 0px 2% 0 0;
    }

    .containerSplit60 {
        width: 58%;
        margin: 0px 1%;
    }

    .containerSplit70 {
        width: 68%;
        margin: 0px 1%;
    }

    .containerSplit40 {
        width: 38%;
        margin: 0px 1%;
    }

    .containerSplit30 {
        width: 28%;
        margin: 0px 1%;
    }

    .containerSplitLeft {
        float: left;
    }

    .containerSplitRight {
        float: right;
    }

    .homeButtonData, .homeButtonData:hover, .csvCreate, .csvCreate:hover, .updateCreate, .updateCreate:hover {
        width: 20em;
    }
}